<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mark's Blog</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div id="container">
    <nav>
      <a href="/">Home</a>
      <a href="/post_list/new">Add new post</a>
      <a href="/post_list">Blog index</a>

    </nav>

    <%= yield %>
  </div>
	
</body>
</html>