<h2>Books</h2>
<ul>
  <% @books.each do |book| %>
    <li>
      <a href="/books/<%= book['id'] %>">
        <%= book['title'] %>
      </a>
    </li>
  <% end %>
</ul>

<h2>Authors</h2>
<ul>
  <% @authors.each do |author| %>
    <li>
      <a href="/authors/<%= author['id'] %>">
        <%= author['name'] %>
      </a>
    </li>
  <% end %>
</ul>