<h1>Welcome to Games on Rails!</h1>

<h2>Please choose a game</h2>
<ul>
  <li><%= link_to 'Magic 8 Ball', magic_8_path %></li>
  <li><%= link_to 'Secret Number', secret_number_path %></li>
  <li><%= link_to 'Rock Paper Scissors', rock_paper_scissors_path %></li>
</ul>