<h2>Welcome to Secret Number!</h2>

<form action="/games/secret_number" method="get">
  <label for="guess">Guess (1-10):</label>
  <input id="guess" name="guess" type="number" placeholder="Enter your guess" required>
  <button>Guess!</button>
</form>

<% if params[:guess] != nil %>
  <p><b>Your Guess:</b> <%= params[:guess] %></p>
  <p><b>Web Server's Response:</b> <%= @response %></p>
<% end %>