<form action="/posts/update" method="post">
  <input type="hidden" name="id" value="<%= @post.id %>">

  <p>
    <label for="title">Name: </label>
    <input type="text" name="title" id="title" required value="<%= @post.title %>">
  </p>

  <p>
    <label for="content">Content: </label>
    <input type="text" name="content" id="content" required value="<%= @post.content %>">
  </p>


  <button>Update post!</button>
</form>