<form action="/posts/create" method="post">
  <p>
    <label for="title">Post Title: </label>
 </p>
 <p>
    <input type="text" name="title" id="title" required>
  </p>
  <label for="content">Content: </label>
  <p>
    
    <textarea name="content" style="width:250px;height:150px;"></textarea>
  </p>


  <button>Create post!</button>
</form>