<h1>Create a new author!</h1>

<form action="/authors/create" method="post">
  <p>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Enter a name for the book..." required>
  </p>
  <p>
    <label for="photo">Photo:</label>
    <input id="photo" name="photo" type="url" placeholder="Input a url for the books photo..." required>
  </p>
  <button>Create Author</button>
</form>