<h1>Edit the author!</h1>

<form action="/authors/<%= @author.id %>/update" method="post">
  <p>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Enter a name for the book..." required value="<%= @author.name %>">
  </p>
  <p>
    <label for="photo">Photo:</label>
    <input id="photo" name="photo" type="url" placeholder="Input a url for the books photo..." required value="<%= @author.photo %>">
  </p>
  <button>Update Author</button>
</form>