<h2>Search the Database (Title and Author)</h2>
<form action="/results" method="get">
  <label for="search">Enter your search term:</label>
  <input name="search" id="search" type="text" required>
  <button>Search!</button>
</form>