
<% if @result %>
    <h2 id="movietitle"><%= @movie_title %></h2>
    <img id="movie_poster" src="<%= @movie_poster %>">
    <h3 id="plot"><%= @movie_plot %></h3>
    <h3 id="plot">Director : <%= @movie_director %></h3>
<% end %>


<form action="/movie_app" method="get">
    <input id="movie_title" name="title" type="text" step="any" placeholder=" Finds Movies ...(Keyword)">

    <input class="uibutton" type="submit" value="Go Crazy!">
</form>