<% if @result %>
    <h3>Search result : <%= @result["Search"].length %> matched results</h3>
    <p id="footnote">(click to view)</p>
    <% @result["Search"].each do |res| %>
       <h2><a href="/movie?title=<%=res["Title"]%>"><%= res['Title']%></a></h2>
    <% end %>
<% end %>


<form action="/movie_app" method="get">
    <input id="movie_title" name="title" type="text" step="any" placeholder=" Finds Movies ...(Keyword)">

    <input class="uibutton" type="submit" value="Go Crazy!">
</form>

