<!doctype html>
<html>
  <head>
    <meta character='utf-8'>
      <title>Movie Database</title>
      <link rel="stylesheet" type="text/css" href="/normalize.css">
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>


  <body>
    <div id="container">
      <nav>
        <a href="/">Top Five</a>
        <a href="/">News</a>
        <a href="/">About Us</a>
        <a href="/">Contact Us</a>
      </nav>
    </div>

    <div id="box">
      <h1>The Awesome Movie Database</h1>
    </div>

    <%= yield %>
  

  </body>
</html>