html {
  background-image: url("/images/back04.jpg");  
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  color: white;
  font-family: sans-serif;
}