<h3>Thank you for choosing us!</h3>

<p>Feedback Form</p>

<form id="contact_form" action="/contact" method="post">
    <p>
    <input type="text" name="name" placeholder="Your name here">
    </p>
    <p>
    <textarea placeholder="Your feedback here" name="message"></textarea>
    </p>
    <input class="uibutton" type="submit" value="Send!">
</form>


