<h3>Input your Stock Symbol</h3>

<form action="/stock" method="get">
    <input id="searchbox" name="symbol" type="text" step="any" placeholder="   Symbol     eg.GOOG, AAPL" required>

    <input id="button" type="submit" value="Search">
</form>