<h1>Create an ocean</h1>
<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]" autofocus></p>
  <p>Nickname: <input type="text" name="ocean[nickname]"></p>
  <p>Image: <input type="text" name="ocean[image]"></p>
  <p>Volume: <input type="text" name="ocean[volume]"></p>
  <p>Pirates: <input type="text" name="ocean[pirates]"></p>
  <p>Description: <input type="text" name="ocean[description]"></p>
  <button>Create and ocean</button>
</form>