<div id="faq">
  <h2>Q : What... is your name? </h2>
  <p>A : Sir Robin of Camelot.</p>
  <h2>Q: What... is your quest?</h2>
  <p>A: To seek the Holy Grail.</p>
  <h2>Q: What... is the capital of Assyria?</h2>
  <p>A: I don't know that..</p>
  <p>Auuuuuuuuuuuuuuggggggggghhhhhhhhh.</p>  
</div>
