/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
body{
     background: url(../screenshot-half.png) top no-repeat;
     background: #d6d6d6 url(../images/background.jpg) top repeat-x;
     color: #000000;
     text-align: center;
}

a{
     color: #cc6633;
}
h1{
     width: 210px;
     height: 210px;
     padding-top: 210px;
     background: url(../images/logo.png) no-repeat;
     display: block;
     overflow: hidden;
     margin: 0 auto 30px auto;
}
h2{
     font-size: 18px;
     margin: 0 0 15px 0;
}

#container{
     width: 912px;
     margin: 0 auto;
     padding-left: 30px;

}
#main{
     width: 866px;
     background: #FFF;
     text-align: left;
     padding: 32px 20px;
}
.column-left{
     display: inline-block;
     width: 540px;
}
.column-left img{
     width: 100%;
}
.column-right{
     display: inline-block;
     width: 270px;
     padding-left: 5px;
     vertical-align: top;
}
.column-right p{
     font-size: 10px;
     line-height: 18px;
     margin: 0;
}
.download{
     text-transform: uppercase;
     color: #F00;
}













/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



