<div id="menu">
</div>

<div id="container">
	<h1>THE MOVIE DATABASE</h1>

	<form action="/movie" method="get" class="search">
		<input name="movie_title" type="text" placeholder="Enter a movie title">
		<input type="submit" value="Search">
	</form>
</div>

<div id="search">
	<% if @movies && @movies.length %>
		<% @movies.each do |movie| %>
			<a href="/title?id=<%=movie['imdbID']%>"> <%= movie["Title"] %> </a>	
		<% end %> 
	<% end %> 
</div>

