
<form action="/movies/search" method="get">
    <label for="title">Search for movies</label>
    <input name="title" class="input" type="text" placeholder="movie name">
    <button>go</button>
</form>