<form action='/movies' method="get"> 
    <input name="movie_name" type="text" placeholder="Enter a movie name">
    <input type="submit" value="Find movie">
</form>


  <h2><%= @blank_page %> </h2>
  <% if @movies && @movies.length %> <!-- this says, if there's a variable @movies AND it has a length, run the code. Nil has no length, so it doesn't run if nothing's passed in. -->
    <% @movies.each do |movie| %>
      <p><a href="/titles/<%= movie["Title"]%>"><%= movie["Title"] %></a>
      </p>
    <% end %>
  <% end %>


