<h3>Input your movie title</h3>

<form action="/movie" method="get">
    <input id="searchbox" name="title" type="text" step="any" placeholder="     Title       eg. Red, Toy Story" required>

    <input id="button" type="submit" value="Search">
</form>