body {
  color: grey;
  text-align: center;
  
}

ul
{
    list-style-type: none;
    position:relative
}

ul a li {

    text-decoration: none;
    display:inline;
    padding-right:20px;
   
}

#search {

    margin-top: 133px
}

