<h1>Secret Number</h1>
<p>Guess the number I'm thinking between 1 and 10: </p>

<form action="/secret" method="post">
  <p>Question: <input type="text" name="guess" autofocus></p>
  <button>Guess!</button>
</form>