<!doctype HTML>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Find Your Movie</title>
        <link rel="stylesheet" href="/style.css">
    </head>


    <body>
        <h1>Find Your Favorite Movie Here</h1>
        <hr>
        <%= yield %> 
    </body>
</html>