<p class="welcome">Welcome to the WDI Store! We sell only the most advanced stationary and hardware!</p>

<img class="computer" src="http://static.ddmcdn.com/gif/how-to-donate-computer-1.jpg" alt="computer">