/* going to rip off this http://www.sitepoint.com/a-basic-html5-template/ */

body{
  padding: 0;
  margin: 0;
  background: #EFEFEF;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #333;
  background: url(http://realitypod.com/wp-content/uploads/2010/07/Train-series-Motion-blur-of-a-fast-moving-train..jpg) no-repeat;
  background: url(http://wallpaper.pickywallpapers.com/1920x1080/modern-train-in-moonlight.jpg) no-repeat;
  background-size: cover;
}
p{
  margin: .5em 0 1em 0;
}
h1,h2,h3,h4,h5,h6{
 margin: .5em 0 1em 0;
 font-weight: normal;
}
h1{
  font-weight: uppercase;
}
a{
  color: #F60;
}


#container{
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0px 5px 2px 3px rgba(0,0,0,0.4);
  background: rgba(255,255,255,0.8);
}

header{
  width: 100%;
  background: #333 url(https://d3o09jpaxs6yh2.cloudfront.net/production/assets/ga-lockup-91b6faf530625d6c62c44ae5fae9aa46.png) 5px 5px no-repeat;
  background-size: 140px;
  box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.4);
  height: 25px;
  z-index: 100;
}
header nav{
  text-align: right;
}
nav ul,
nav li{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
}
nav a{
  color: #F60;
  padding: 6px 10px;
  background: rgba(255,255,255,0.1);
  text-decoration: none;
  display: block;
  font-size: 12px;
  text-transform: lowercase;
}
nav a:hover{
  color: #000;
  background: rgba(255,255,255,0.9);
}


footer{
  padding: 5px 1em;
  border-top: dotted 1px #FFF;
  background: #666;
  color: #CCC;
  text-align: right;
}

form label{
  display: block;
}
form select{
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}
#main{
  padding: 1em ;
  min-height: 500px;
}

ul.products{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.products li{
  margin: .5em 0 1em 0;
  padding: 1em;
}
img{
  max-width: 100%;
}

ul.triplist li:first-child{
  color: green;
  font-weight: bold;
}
ul.triplist li:last-child{
  color: red;
  font-weight: bold;
}