<div id="content">
	<h2> Books by <%= @author['first_name']%> <%= @author['last_name']%></h2>

	<% @author.books.each do |book| %>
		<p>
			<a href="/books/<%=book[:id]%>"><%= book['title'] %></a>
		</p>
	<%end%>
</div>