<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Books Database</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
	<nav>
		<a href="/">Home</a>
		<a href="/books">Books</a>
		<a href="/authors">Authors</a>
		<a href="/authors/new">Add an author</a>
		<a href="/books/new">Add book</a>
		
		<form> 
			<input type="text" name="search" placeholder="Search">
			<button type="submit">Search</button>
		</form>
	</nav>

	<%= yield %>

</div>
	
</body>
</html>