
<h2>Add a post</h2>

<form action="/posts/create" method="post">
	<p>
	    <label for="title">Title: </label>
	    <input type="text" name="title" id="title" required>
	 </p>

	<p>
	    <label for="copy">Copy: </label>
	    <input type="text" name="copy" id="copy" required>
	</p>

	<p>
	    <label for="author">Author: </label>
	    <input type="text" name="author" id="author" required>
	</p>

	<p>
	    <label for="image">Image: </label>
	    <input type="url" name="image" id="image" required>
	</p>

	<button>Create Post!</button>

</form>