<p>This page needs styling</p>

<ul>
  <li>Site Created by Simon Taylor</li>
  <li>Phone: +61 XX XXX XXX</li>
  <li>Email: <a href="mailto:nizmox@gmail.com">nizmox@gmail.com</a></li>
  <li>Thanks to <a href="http://www.omdbapi.com/">OMDbAPI</a> for making this possible</li>
</ul>