<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RubyRail.gets_you_there*</title>
  <link rel="stylesheet" href="/css/style.css"
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="/">Plan a new trip</a></li>
        </ul>
      </nav>  
  </header>
  <div id="container">
    <div id="main">
      <h1>RubyRail.gets_you_there*</h1>
      <%= yield %>
    </div>
    <footer>*invalid function</footer>
  </div>
</body>
</html>