<h2>Stocks</h2>

<form action="/stock_search" method="get">
  <input id="search" name="symbol" type="text" placeholder="Enter symbol">
  <input id="submit" type="submit" value="Make it rain!">
</form>