<div id="center-content">
  <h1>Countries of the world</h1>

  <div id="content" class="f32">
    
  </div>

</div>

<script id="country" type="text/x-handlebars-template">
  <div>
    <p>
      <span class="flag {{ abbreviation }}"></span> {{ name }} {{ abbreviation }}
    </p>
  </div>
</script>