<h1> Movie Page </h1>


<p>Please enter the name of a movie:</p>
<form action="/movies/result" method="get">
<input name="movie_name" type="text" placeholder= "Movie name e.g. The Matrix">
<input type="submit" value="Get data">
</form>