<h1>ADD A NEW MOUNTAIN</h1>

<div id="form">
	<form action="/mountains" method="post">
		<p>Name: <input type="text" name="mountain[name]" required></p>
		<p>Elevation: <input type="text" name="mountain[height]" required></p>
		<p>Bordering countries: <input type="text" name="mountain[bordering_countries]" required></p>
		<p>Image: <input type="text" name="mountain[image]" required></p>
		<button>Fuck yeah mountains!</button>
	</form>
</div>