<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tattly</title>
  <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div id="container">
    <nav>
      <a href="/">Home</a>
      <a href="/products">View all products</a>
      <a href="/products/new">Add new product</a>
    </nav>

    <%= yield %>
  </div>

</body>
</html>