<div class="new_entry">
  <h1>Add a new product</h1>
</div>

  <form action="/products/create" method="post">
    <p>
      <label for="title">Name: </label>
      <input type="text" name="title" id="title" required>
    </p>

    <p>
      <label for="price">Price: </label>
      <input type="text" name="price" id="price" required>
    </p>

    <p>
      <label for="photo">Photo: </label>
      <input type="url" name="photo" id="photo" required>
    </p>

<div class="style"><button>Add Product</button></div>
 
  </form>
