<h1>Magic 8 Ball</h1>
<p>Ask the 8 Ball a yes or no question: </p>

<form action="/ball" method="post">
  <p>Question: <input type="text" name="question" autofocus></p>
  <button>Ask!</button>
</form>
