<div id="home">
	<h1>MOVIE DATABASE</h1>

	<h2>VS.</h2>

	<h1>STOCK DATABASE</h2>
</div>

<div id="home_icons">
	<a href="/movie" class="animated bounceInLeft"><i class="fa fa-film"></i></a>
	<a href="/stock"><i class="fa fa-money"></i></a>
</div>