<div class="welcome">
    <img src="/images/logo.png">
    <h1>SpeBlog</h1>
    <h3>the <em>fastest</em> micro-blogging experience</h3>
</div>


<div class="description">
    <p>Spend to much time on blogging?<br>Try SpeBlog today!</p>
</div>

<div class="login">
    <input type="text" name="username" id="username" placeholder="Username" autofocus required>
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="password" name="password" id="email" placeholder="Password" required>
    <p><input type="checkbox" name="remember" id="remember">Remember me | <a href="/">Forgot password?</a></p>
    <a href="/blog"><button>Sign up</button></a>
</div>

