<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SpeBlog</title>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" href="/css/csshake.min.css">
</head>
<body>

  <div id="container">

    <%= yield %>
    
    <hr>
    <div class ="social">
      <a href="http://www.facebook.com/nixsiow.yk" target="_blank"><img src="/images/facebook.png"></a>
      <a href="http://www.twitter.com/nixsiow" target="_blank"><img src="/images/twitter.png"></a>
      <a href="http://plus.google.com/+nixsiow" target="_blank"><img src="/images/googleplus.png"></a>
      <a href="http://www.pinterest.com/nixsiow" target="_blank"><img src="/images/pinterest.png"></a>
      <a href="http://www.instagram.com/nixsiow" target="_blank"><img src="/images/instagram.png"></a>
      <a href="http://www.youtube.com/nixsiow" target="_blank"><img src="/images/youtube.png"></a>
    </div>
  </div>


</body>
</html>