<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Straw: one more blog in the universe</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="container">
    
    <nav>
      <div id="header">
        <h1>The Straw</h1>
      </div>
      <a href="/">The Straw</a>
      |
      <a href="/posts/new">Break the camel's back</a>
      |
      <a href="/posts">View straws</a>
    </nav>
    <div id="body_content">
      <%= yield %>
    </div>
  </div>

</body>
</html>