<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDI Shop</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div id="container">
    <nav>
      <a href="/">Home</a>
      <a href="/product_list">Product list</a>
      <a href="/product_list/new">Add new product</a>
    </nav>

    <%= yield %>
  </div>
</body>
</html>