<div id="black_box">
  <form action="/mountains" method="post">
    <p>Name: <input type="text" name="mountain[name]" autofocus></p>
    <p>Range: <input type="text" name="mountain[range]"></p>
    <p>Image: <input type="text" name="mountain[image]"></p>
    <p>Elevation: <input type="text" name="mountain[elevation]"></p>
    <button>Create!</button>
  </form>
</div>

