<div id="results">
  <ul>
    <li><%= @mountain.name %></li>
    <li><%= @mountain.range %></li>
    <li><%= @mountain.elevation %></li>
  </ul>
</div>

<div id="image" width='282' height='198'>
  <%= image_tag(@mountain.image) %>
</div>