<hr>
<header id="contact_h"> Our Contact Details: </header>
	<div id="contact_div">
		<ul>
			<li>Email us: <a href="mailto:mark@moviedb.com?subject=here%20is%20a%20mailto%20link&cc=CHANGE&body=I%20have%20a%20question.%0AI%20would%20like%20to%20know:" style="text-decoration: none" color="#024A68">CustomerSupport@moviedb.com </a></li>
		</ul>	
		<ul>
			<li>Phone : +61 2 9009 9009</li>
		</ul>
		<p>
			<ul>
				<li>Follow us on: </li>
				<li><a href="http://www.facebook.com"><img src="/images/social-facebook.png" alt"http://www.facebook.com"></a></li>
				<li><a href="http://www.twitter.com"><img src="/images/social-twitter.png" alt"http://www.twitter.com"></a></li>
				<li><a href="http://www.flickr.com"><img src="/images/social-flickr.png" alt"http://www.flickr.com"></a></li>
				<li><a href="http://www.pinterest.com"><img src="/images/social-pinterest5.png" alt"http://www.pinterest.com"></a></li>
				<li><a href="http://www.linkedin.com"><img src="/images/linkedin.png" alt"http://www.linkedin.com"></a></li>
				<li><a href="http://www.tumblr.com"><img src="/images/social-tumblr.png" alt"http://www.linkedin.com"></a></li>
				<li><a href="http://www.github.com"><img src="/images/icon-github.png" alt"http://www.github.com"></a></li>
		</p>
	</div>	