<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Movies DB Search</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre:700,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="container">
      <div></div>
        <h1>Open Movies Database Search</h1>
      <div></div>


      <nav>
        <ul class="navigator">
          <li><a href="/">Home</a></li>
          <li><a href="/contact_us">Contact us</a></li>
        </ul>
      </nav>

      <%= yield %>
      


  </body>
</html>