<h1>What do you want to know?</h1>
 <div id="eightball"> 
  <form action="eightball/question" method="get">
    <input type="text" name="question" >
    <button>Ask the magic eightball!</button>
  </form>
</div>
