<div id="secret_num">
  <h1>Secret Number</h1>
  <h1 class="output"><%= @output %></h1>
  <form action="/games/secret_number" method="get">
    <input type="number" name="guess" max="10" min="1">
    <button>Guess!</button>
  </form>
</div>