<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>
	html {
				background-image: url('/images/butterfly-wallpaper-hd.jpg');
				background-repeat: no-repeat;
			}
	</style>
	<header class="home-text">The Butterfly Database</header>
</head>
	<body>
	</body>
</html>


	
