<h1>Create a new ocean</h1>

<form action="/create" method="post">
  <p>Name: <input type="text" name="ocean[name]" autofocus></p>
  <p>Volume: <input type="text" name="ocean[volume]"></p>
  <p>Depth: <input type="text" name="ocean[depth]"></p>
  <p>Size Order: <input type="text" name="ocean[ordinal]"</p>
  <button>Create</button>
</form>