
<!-- <form action="/stocks/search" method="get">
    <label for="title">Search for stocks</label>
    <input name="title" class="input" type="text" placeholder="stock code">
    <button>go</button>
</form> -->