<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>IMDB Finder</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="container">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/contact"><li>Contact</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/search"><li>Search</li></a>
        </ul>
    <%= yield %>
    </div>
  </body>
</html>