<div id="container">
  <h1>Contact me with four puffs of smoke, then a long pause, then two quick puffs of smoke.</h1>
  <img id="contact_image" alt="Smoke signals image" src="http://1.bp.blogspot.com/-G4RRD9kg23Q/TXKg-8SN99I/AAAAAAAACQY/RDD6vw4dcBw/s1600/Smoke_signals.jpg">
</div>