<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/style.css' type='text/css'>
</head>

  <body>
    <header><h2>Mark's IMDB Search Engine</h2></header>
    <div id="mainWrapper">
      <%= yield %>
    </div>
  </body>

</html>