<h1>Welcome to your average bookstore</h1>
<div class="heading">

  <form action="/" method="get">
    <input name="search" type="text" placeholder="Title, author....">
    <input type="submit" value="Search!">
  </form><br>

</div>



