<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Average Bookstore!</title>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div id="container">
    <nav>
      <a href="/">Home</a>
      <a href="/books/new">Add a new book</a>
      <a href="/books">All books</a>
      <a href="/authors/new">Add a new author</a>
      <a href="/authors">All authors</a>
    </nav>

    <%= yield %>
  </div>

  

</body>
</html>