<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDI Store Project</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav>
		<a href='/'>Home</a>
		<a href='/products'>All products</a>
		<a href='/product/new'>Add a product</a>
	</nav>


	<%= yield %>

	
</body>
</html>