<form action="/product/create" method="post">
	<p>
		<label name="name">Name: </label>
		<input type="text" name="name" id="name" required>
	</p>

	<p>
		<label name="price">Price: $</label>
		<input type="number" name="price" id="price" required>
	</p>

	<p>
		<label name="photo">Photo: </label>
		<input type="url" name="photo" id="photo" required>
	</p>

	<button>Add a product</button>
	
</form>