<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div id="container">
    <nav>
      <a href="/">Home</a>
      <a href="/posts/new">Add new Post</a>
      <a href="/posts">All posts</a>
      
    </nav>

    <%= yield %>
  </div>

</body>
</html>