<h1>Rock Paper Scissors</h1>
<p>Let's play Rock Paper Scissors</p>

<form action="/rps" method="post">
    <select name="choice" id="choice">
        <option value="Rock" name="Rock">Rock</option>
        <option value="Paper" name="Paper">Paper</option>
        <option value="Scissors" name="Scissors">Scissors</option>
    </select>

 <button>Play!</button>
</form>
