<h2>Create an Ocean</h2>
<div class="form">
    <form action="/oceans" method="post">
      <p>Name: <input type="text" name="ocean[name]" autofocus required></p>
      <p>Image: <input type="text" name="ocean[image]"></p>
      <p>Volume: <input type="text" name="ocean[volume]"></p>
      <p>Bordering Countries: <input type="text" name="ocean[bordering_countries]"></p>
      <p>Shipping Routes: <input type="text" name="ocean[shipping_routes]"></p>
      <button id="button">Magic!</button>
    </form>
</div>