<h1>Adding New Climb</h1>

<form action="/mountains" method="post">
  <p>
    <label for="name">name: </label>
    <input type="text" name="mountain[name]" id="name" autofocus>
  </p>
  <p>
    <label for="image">image: </label>
    <input type="text" name="mountain[image]" id="image">
  </p>
  <p>
    <label for="description">description: </label>
    <input type="textarea" name="mountain[description]" id="description">
  </p>
  <p>
    <label for="surface">surface: </label>
    <input type="text" name="mountain[surface]" id="surface">
  </p>
  <p>
    <label for="height">height: </label>
    <input type="text" name="mountain[height]" id="height">
  </p>
  <p>
    <label for="distance">distance: </label>
    <input type="text" name="mountain[distance]" id="distance">
  </p>
  <p>
    <label for="grade">grade: </label>
    <input type="text" name="mountain[grade]" id="grade">
  </p>
  <p>
    <label for="record">record: </label>
    <input type="text" name="mountain[record]" id="record">
  </p>
  <button>save</button>
</form>