<form action="/mountains" method="post">
    <p>Name: <input type="text" name="mountain[name]"></p>
    <p>Elevation: <input type="text" name="mountain[elevation]"></p>
    <p>First Ascent: <input type="text" name="mountain[first_ascent]"></p>
    <p>Image: <input type="text" name="mountain[image]"></p>
    <button>Add Mountain</button>
</form>