<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTA NewYork</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="logo">
      <div class="railwaylogo">
        <a href="/"><img src="/images/railway.png"></a>
      </div>
      <div class="title">
        <a href="/"><h1>MTA NewYork</h1></a>
      </div>
    </div>
  </header>

  <div id="container">

    <div class="clock">
      <iframe src="http://free.timeanddate.com/clock/i42ackgu/n179/szw210/szh210/hocfff/hbw0/hfc111/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw4/mqd94/mhcfff/mhl15/mhw4/mhd94/mmv0/hhcbbb/hmcddd/hsceee" frameborder="0" width="212" height="212"></iframe>
    </div>

    <div class="search_box">
      <%= yield %>
    </div>
  </div>

  <hr>
  <div class ="social">
    <a href="http://www.facebook.com/nixsiow.yk" target="_blank"><img src="/images/facebook.png"></a>
    <a href="http://www.twitter.com/nixsiow" target="_blank"><img src="/images/twitter.png"></a>
    <a href="http://plus.google.com/+nixsiow" target="_blank"><img src="/images/googleplus.png"></a>
    <a href="http://www.pinterest.com/nixsiow" target="_blank"><img src="/images/pinterest.png"></a>
    <a href="http://www.instagram.com/nixsiow" target="_blank"><img src="/images/instagram.png"></a>
    <a href="http://www.youtube.com/nixsiow" target="_blank"><img src="/images/youtube.png"></a>
  </div>

</body>

</html>