<div class="search">
  <form action="/stocks" method="get">
    <label for="">Stock Code:</label>
    <input name="code" type="text" placeholder="Type a Stock Code..." class="search-box">
    <button class="button">Lookup a Stock!</button>
  </form>
</div>

<% case @status %>
<% when 'found results' %>
  <!-- When Search Performed and Results are Found -->
  <p>Stock: <%= @name %></p>
  <p>Price: <%= number_to_currency(@price) %></p>

<% when 'no results' %>
  <!-- When Search Performed but No Results Found -->
  <div class="error">
    <h3>Whoa shit! What the fuck is <%= params[:code] %>!?!</h3>
  </div>
<% end %>