<div class="redirect">
    <meta http-equiv="refresh" content="5;url='/books/new'" />
    <p>
        <br>
        <br>
        <h3>Add Author before proceed to Add New Book.</h3>

        <div class="csspinner duo"><h3>If you have done, please stay.</h3></div>
        <p>Otherwise. <br><button><a href="/authors/new">Add Author</a></button></p>

        Redirecting in <br><br><br>
        <div class="counting">  
            <span>3 seconds...</span><br><br>            
            <span>2 seconds..</span><br><br> 
            <span>1 second.</span>
        </div> 
    </p>
</div>